@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@font-face { font-family: Pangram; src: url('../fonts/Pangram-Regular.otf'); } 
@font-face { font-family: PangramBlack; src: url('../fonts/Pangram-Black.otf');}
@font-face { font-family: PangramExtraLight; src: url('../fonts/Pangram-ExtraLight.otf');}

body {
	margin: 0;
	background-color: #E8E8E8;
}

a {
  text-decoration: none;
}

hr {
	margin: 20px;
}

#header {
	background-color: #F4F4F4;
	width: 100%;
	height: 140px;
	z-index: 1000;
}
.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.seta_voltar {
	height: 70px;
	margin-top: 25px;
	margin-left: 25px;
}

.titulo {
	display: inline-block;
	color: #E51947;
	font-family: 'Pangram', sans-serif;
	font-size: 4em;
	text-align: center;
	width: 85%;
	margin: auto;
	font-weight: lighter;
  text-transform: uppercase;
}

/*Codigo do slider começa aqui*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 68px;
  margin:10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 8px;
  bottom: 8px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #46C13D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #46C13D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(52px);
  -ms-transform: translateX(52px);
  transform: translateX(52px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Codigo do slider termina aqui*/

.conteudo {
	display: block;
	width: 80%;
	margin: auto;
	padding-top: 5%;
}

.config_link {
	display: inline-block;
	font-size: 3em;
	font-family: 'PangramBlack', sans-serif;
	color: #E51947;
	text-decoration: underline;
	margin: 8px;
}

.label {
	display: inline;
	color: #E51947;
	font-size: 3em;
	font-family: 'PangramBlack', sans-serif;
	padding-left: 140px;
}

.imagem_principal {
  display: block;
  width: 100%;
}

.subtitulo {
  color: #E51947;
  font-family: 'PangramBlack', sans-serif;
  font-size: 3em;
}

.conteudo_lugar {
  display: block;
  width: 90%;
  margin: auto;
  height: 1800px;
}

.comprido {
  height: 2400px;
}

.texto_padrao {
  color: #848484;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  margin-top: 16px;
  margin-bottom: 16px; 
}

/* footer */
.footer {
  position: fixed;
  background-color: #F4F4F4;
  width: 100%;
  height: 10%;
  left: 0;
  bottom: 0;
}

#pesquisa {
  display: block;
  position: fixed;
  height: 260px;
  overflow: visible;
  margin: auto;
  bottom: 0;
  left: 50%;
  margin-left: -130px; /* Metade negativa da width, para centralizar o ícone. */
}

#home {
  display: block;
  height: 150px;
  float: left;
  margin: 2% 10% 2% 10%;
}

#perfil {
  display: block;
  height: 150px;
  float: right;
  margin: 2% 10% 2% 10%;
}
/*footer termina aqui*/

/*mesmas classes de filtro do main.css, levemente modificadas*/
.botao_filtro {
  display: block;
  background-color: #F4F4F4;
  width: 400px;
  height: 400px;
  float: left;
  margin: 10px;
}

.icon_filtro {
  display: block;
  height: 180px;
  padding-top: 50px;
  padding-bottom: 20px;
  margin: auto;
}

.titulo_filtro {
  font-size: 2.5em;
  font-family: 'Pangram', sans-serif;
  color: #E51947;
  text-align: center;
}

.botao_filtro_comprido {
  display: block;
  background-color: #F4F4F4;
  width: 820px;
  height: 120px;
  float: left;
  margin: 10px;
}

.botoes_favs {
  padding-top: 40px;
}

/* conteudo pra avaliações */
.foto_perfil {
  float: left;
  margin-right: 50px;
}

.avaliacao {
  margin: 50px;
  width: 90%;
}

.texto_avaliacao {
  font-size: 30px;
}

.nome_perfil {
  font-family: 'PangramBlack', sans-serif;
  color: #E51947;
  font-size: 38px;
}

.estrela {
  width: 50px;
}

.add_avaliação {
  float: right;
  height: 70px;
  margin-top: 30px;
  margin-right: 30px;
}

.titulo2 {
  width: 82%;
}

.preview {
  height: 320px;
}

.foto_preview {
  width: 300px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 25px;
  margin-bottom: 10px;
  float: left;
}

.titulo_preview {
  font-family: 'PangramBlack', sans-serif;
  font-size: 3em;
  color: #E51947;
  margin-top: 20px;
  top: 15px;
  position: relative;
}

.texto_preview {
  margin: 10px;
}

textarea {
  display: block;
  background-color: #F2F2F2;
  border-radius: 10px;
  color: #848484;
  width: 75%;
  margin: auto;
  height: 600px;
  margin-top: 60px;
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px;
  margin-top: 100px;
  text-align: left;
}

.botao {
  display: block;
  width: 50%;
  margin: auto;
  background-color: #E51947; /* Para browsers que não suportam gradiente */
  background-image: linear-gradient(90deg, #E51947, #F24269, #E51947); /* Gradiente */
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 4em;
  font-family: 'Pangram', sans-serif;
  text-align: center;
  padding: 15px 40px 15px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.estrela_avaliacao {
  width: 150px;
  margin: 10px;
}

#estrelas {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}